html, body{
	height: 100%;
}

.logo {
	width: 30px;
	height: 30px;
	margin-left: 150px;
	margin-bottom: 15px;
}

.navbar-default{
	background-color: #11998e;
}

.logout{
	width: 20px;
	height: 20px;
	margin-right: 50px;
}

.navbar-default .navbar-nav li a{
	color: white;
}

body{
	background: #11998e;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to top, #38ef7d, #11998e);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to top, #38ef7d, #11998e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	

	

    font-family: 'Oswald', sans-serif;
}

body h1{
			/* Prefix required. Even Firefox only supports the -webkit- prefix */
		-webkit-text-stroke-width: 1px;
		font-size: 75px;
		-webkit-text-stroke-color: white;
}

.jumbotron{
	background-image: url(img/banner.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

.navbar-default{
	border-color:#11998e;
}

.gurni{

	margin-left: 200px;
}

.navbar-default .navbar-nav  li  a:hover{
	background-color: white;
}


@media only screen and (min-width: 768px) {
	.login-form {
		margin-top: 100px;
	}
}